# general
build
*.rej
*.orig
*.out

# kate
*~
*-swp

# kdevelop
*.kdev4

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from dolphin
.directory

# Ignoring all of the files that "cmake ." creates:
*.cmake
*.depends
CMakeFiles
Makefile
CMakeCache.txt
addons/close-except-like/config.h
addons/kate-ctags/kate_ctags_debug.cpp
addons/kate-ctags/kate_ctags_debug.h
addons/prefix.sh
addons/preview/ktexteditorpreview_debug.cpp
addons/preview/ktexteditorpreview_debug.h
addons/sessionapplet/org.kde.plasma.katesessions.appdata.xml
addons/sessionapplet/regenerateindex.sh
config.h
kate/kateprivate_export.h
prefix.sh

# Ignoring all of the files that "make" makes:
*_autogen
*plugin.json
addons/backtracebrowser/ui_btbrowserwidget.h
addons/backtracebrowser/ui_btconfigwidget.h
addons/close-except-like/qrc_plugin.cpp
addons/close-except-like/ui_close_confirm_dialog.h
addons/filetree/qrc_plugin.cpp
addons/gdbplugin/qrc_plugin.cpp
addons/gdbplugin/ui_advanced_settings.h
addons/kate-ctags/qrc_plugin.cpp
addons/kate-ctags/ui_CTagsGlobalConfig.h
addons/kate-ctags/ui_kate_ctags.h
addons/katebuild-plugin/qrc_plugin.cpp
addons/katebuild-plugin/ui_SelectTargetUi.h
addons/katebuild-plugin/ui_build.h
addons/katesql/katesql.json
addons/katesql/qrc_plugin.cpp
addons/konsole/qrc_plugin.cpp
addons/lumen/ktexteditor_lumen.json
addons/openheader/qrc_plugin.cpp
addons/project/qrc_plugin.cpp
addons/replicode/qrc_plugin.cpp
addons/replicode/ui_config.h
addons/rustcompletion/qrc_plugin.cpp
addons/search/katesearch.json
addons/search/qrc_plugin.cpp
addons/search/ui_results.h
addons/search/ui_search.h
addons/sessionapplet/engine/plasma-dataengine-katesessions.json
addons/sessionapplet/org.kde.plasma.katesessions-plasmoids-metadata.json
addons/snippets/qrc_plugin.cpp
addons/snippets/ui_editrepository.h
addons/snippets/ui_editsnippet.h
addons/snippets/ui_snippetview.h
addons/symbolviewer/qrc_plugin.cpp
addons/tabswitcher/qrc_plugin.cpp
addons/textfilter/qrc_plugin.cpp
addons/textfilter/ui_textfilterwidget.h
addons/xmlcheck/katexmlcheck.json
addons/xmlcheck/qrc_plugin.cpp
addons/xmltools/katexmltools.json
addons/xmltools/qrc_plugin.cpp
bin/
doc/kate/index.cache.bz2
doc/kate/index.html
doc/kate/kate.1
doc/katepart/index.cache.bz2
doc/kwrite/index.cache.bz2
kate/qrc_kate.cpp
kate/ui_katesessionmanagedialog.h
kate/ui_sessionconfigwidget.h
kwrite/qrc_kwrite.cpp
lib/
